/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #333;
	color: #CCC;
}

.summary {
	background-color: #222;
}

.table thead>tr>th, 
.table tbody>tr>th, 
.table tfoot>tr>th, 
.table thead>tr>td, 
.table tbody>tr>td, 
.table tfoot>tr>td {
	border-top: none;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #222;
}

.table-striped>tbody>tr:first-child>th {
	background-color: #000;
}

a,
a:hover {
	color: #FFF;
}

#map-canvas {
	height: 300px;
	width: 100%;
	background-color: #666;
}

.btn-refresh {
	float: right;
}

#spinner {
	padding: 10px;
	background-color: #f3f3f3;
	color: red;
	font-weight: bolder;
}

#refresh-timer {
	padding: 10px;
}

#row-count {
	width: 150px;
	float: right;
	padding: 10px;
	text-align: right;
}

#log tr:hover>td {
	cursor: pointer;
	background-color: #CCC;
	color: #000000;
}

#incident-type-summary {
	background-color: #222;
	color: #666;
	padding: 5px;
}

#incident-type-summary ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#incident-type-summary ul li {
	padding: 5px;
}

#incident-type-summary ul li:hover {
	background-color: #CCC;
}

#incident-modal .modal-dialog {
	width: 70%;
}

#incident-modal .modal-content {
	background-color: #666;
	color: #CCC;
}