/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #333;
	color: #CCC;
}

.summary {
	background-color: #222;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
	border-top: none;
}


.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #222;
}

a,
a:hover {
	color: #FFF;
}

#map-canvas {
	height: 300px;
	width: 600px;
}